<h2>Nachricht Kontaktformular</h2>
<p>Ihr habt folgende Nachricht über das Kontaktformular erhalten:</p>

<div>
    <div>Nachricht von: 
      <p><span>Anrede: </span><span>{{ salutation }}</span></p>
      <p><span>Vorname: </span><span>{{ prename }}</span></p>
      <p><span>Nachname: </span><span>{{ name }}</span></p>
      <p><span>E-mail: </span><span>{{ email }}</span></p>
      <p><span>Telefon: </span><span>{{ phone }}</span></p>
      <p>
        <h3>Nachricht</h3>
        <p>{{ message }}</p>
      </p>
 	</div>
</div>

Automatisch erstellte Email von der Webseite der Patientenstelle.