{% extends 'page.html' %}


{% block content %}

<section class="pt-24 bg-white sm:pt-32">
    <div class="mx-auto max-w-screen-lg px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-6 text-center sm:gap-16 sm:grid-cols-2 lg:grid-cols-3">
        <div class="">
            <div
              class="inline-flex items-center justify-center w-16 h-16 mx-auto text-gray-500 bg-gray-100 rounded-lg dark:bg-gray-800">
              <svg aria-hidden="true" class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
              </svg>
            </div>
            <div class="mt-4">
              <h3 class="text-xl font-bold text-gray-900">
              Telefon
              </h3>
              <p class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400">
                  Sie erreichen uns telefonisch Mo-Fr von 8.00 bis 11.00 Uhr
              </p>
              <a href="tel:+410612614241" title="" class="block mt-1 text-base font-semibold text-main hover:underline">
                  061 261 42 41
              </a>
            </div>
          </div>
        <div>
          <div
            class="inline-flex items-center justify-center w-16 h-16 mx-auto text-gray-500 bg-gray-100 rounded-lg">
            <svg aria-hidden="true" class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
              fill="currentColor">
              <path fill-rule="evenodd"
                d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <div class="mt-4">
            <h3 class="text-xl font-bold text-gray-900">
                Schriftliche Anfragen
            </h3>
            <p class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400">
                Patientenstelle Basel<br>Dornacherstrasse 404<br>Postfach<br>4002 Basel
            </p>
          </div>
        </div>
  
        <div>
          <div
            class="inline-flex items-center justify-center w-16 h-16 mx-auto text-gray-500 bg-gray-100 rounded-lg dark:bg-gray-800 dark:text-white">
            <svg class="w-5 h-5 text-gray-600 lg:w-8 lg:h-8 dark:text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
          </div>
          <div class="mt-4">
            <h3 class="text-xl font-bold text-gray-900 dark:text-white">
                Email
            </h3>
            <p class="mt-1 text-base font-normal text-main">
                <a href="mailto:patientenstelle.basel@bluewin.ch">patientenstelle.basel@bluewin.ch</a>
                <a href="mailto:patientenstelle.basel@hin.ch">patientenstelle.basel@hin.ch</a>
            </p>
          </div>
        </div>
      </div>
  
      <div class="max-w-screen-lg mx-auto mt-8 lg:mt-24">
        {% if submitted %}
        <h3 class = "success">Danke für Ihre Anmeldung.</h3>
    {% else %}
    <form method="POST" class="grid max-w-screen-lg grid-cols-1 mx-auto gap-x-8 gap-y-6 sm:grid-cols-2">
        {% csrf_token %}
        <div class="sm:col-span-2">
            <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900 required">
                Anrede
            </label>
            {{ form.salutation }}
        </div>
        <div>
            <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900 required">
            Vorname
            </label>
            {{ form.prename }}
        </div>
    
        <div>
            <label for="last-name" class="block mb-2 text-sm font-medium text-gray-900 required">
            Nachname
            </label>
            {{ form.name }}
        </div>
    
        <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 required">
            Email
            </label>
            {{ form.email }}
        </div>
    
        <div>
            <label for="phone-number" class="block mb-2 text-sm font-medium text-gray-900">
            Telefon
            </label>
            {{ form.phone }}
        </div>

        <div class="sm:col-span-2">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900">
            Nachricht
            </label>
            {{ form.message }}
        </div>
    
        <div class="sm:col-span-2">
            <div class="flex items-center">
                {{ form.data_policy_accepted }}

            <label for="terms" class="ml-2 text-sm font-normal text-gray-500">
                Ich bestätige, dass ich die 
                <a href="#" title="" class="font-medium text-main hover:text-main-dark">
                AGB
                </a>
                und die
                <a href="#" title="" class="font-medium text-main hover:text-main-dark">
                Datenschutzerklärung
                </a>
                gelesen habe und akzeptiere.
            </label>
            </div>
        </div>
    
        <button type="submit"
            class="px-5 py-3 text-sm font-medium text-center text-white rounded-lg bg-main hover:bg-main-dark sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 transition-all">
            Anfrage senden
        </button>

            {{ form.captcha }}
    </form>
    {% endif %}
      </div>
    </div>
  </section>
  <section class="py-6 bg-white sm:py-8">
    <div class="mx-auto max-w-screen-lg px-6 lg:px-8">
      <h3 class="mt-8 mb-6 text-2xl font-bold tracking-tight text-gray-900">So finden Sie uns</h3>
      <img src="../../media/maps-withtext.png" />
      <p class="mt-8 text-gray-500">{{ page.content }}<a href="https://maps.app.goo.gl/fEMb864kvRxNkM3LA" target="_blank" class="inline-flex items-center font-medium text-main hover:text-main-dark">
          Google maps <span aria-hidden="true">&rarr;</span>
      </a></p>
    </div>
  </section>

{% endblock %}