<h2>Anmeldung zur Mitgliedschaft</h2>
<p>Es ist eine neue Anmeldung für eine Mitgliedschaft eingetroffen.</p>

<div>
  <h3>Zusammenfassung Ihrer Anmeldung</h3>
    <p><span>Mitgliedschaft: </span><span>{{ membership }}</span></p>
    <div>Anmeldung von: 
      <p><span>Anrede: </span><span>{{ salutation }}</span></p>
      <p><span>Vorname: </span><span>{{ prename }}</span></p>
      <p><span>Nachname: </span><span>{{ name }}</span></p>
      <p><span>E-mail: </span><span>{{ email }}</span></p>
      <p><span>Telefon: </span><span>{{ phone }}</span></p>
      <p>
        <h4>Adresse:</h4>
        <span>{{ street }}</span>
        <span>{{ plz }} {{ place }}</span>
    </p>
 	</div>
  {% if message %}
  	<h3>Nachricht</h3>
    <p>{{ message }}</p>
  {% endif %}
</div>

Automatisch erstellte Email von der Webseite der Patientenstelle.

