{% extends 'page.html' %}
{% load markdown_extras %}

{% block content %}
<div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32 px-2 sm:px-6 lg:px-8">
    <img src="{{ page.image.url }}" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
    <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
      <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#1d4ed8] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
      <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#1d4ed8] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-screen-lg px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-4xl font-bold tracking-tight text-white sm:text-6xl text-center md:text-start">Patientenstelle Basel</h2>
        <p class="mt-6 text-lg leading-8 text-gray-300 text-center md:text-start">Fachkundige und persönliche Beratung für Menschen </br> im Kanton Basel-Landschaft und Basel-Stadt</br>
          Begleitung bei medizinischen Rechtsfragen</br>
          Wir sind für Sie da
          </p>
        <div class="flex items-center justify-center gap-4 mt-8 md:justify-start">
            <a href="{% url 'offer' %}" title=""
              class="px-5 py-3 text-base font-medium text-center text-white bg-main rounded-lg shrink-0 hover:bg-main-dark focus:ring-4 focus:outline-none"
              role="button">
              Unser Angebot
            </a>
  
            <a href="{% url 'membership' %}" title=""
              class="inline-flex items-center px-5 py-3 text-base font-medium text-center text-gray-900 bg-white border border-gray-200 rounded-lg shrink-0 focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
              role="button">
              Mitglied werden
              <svg aria-hidden="true" class="w-5 h-5 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                  clip-rule="evenodd" />
              </svg>
            </a>
          </div>
      </div>
    </div>
  </div>
  <div class="bg-white px-6 py-32 lg:px-8">
    <div class="mx-auto max-w-screen-lg text-base sm:px-6 lg:px-8 leading-7 text-gray-700">
      <p class="text-base font-semibold leading-7 text-main">Patientenstelle Basel</p>
      <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ page.title }}</h1>
      <div class="mt-10 max-w-screen-lg ">
        <div class="content text-lg">{{ page.content | convert_markdown | safe }}</div>
        <ul role="list" class="mt-8 max-w-screen-lg text-lg space-y-8 text-gray-600">
          {% for offer in offers %}
          <li class="flex gap-x-3">
            <svg class="mt-1 h-5 w-5 flex-none text-main" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
            </svg>
            <span><strong class="font-semibold text-gray-900">{{ offer.title }}.</strong> {{ offer.content }}</span>
          </li>
          {% endfor %}
        </ul>
        
      </div>
      <p class="mb-4 mt-12 text-gray-500 dark:text-gray-400">
        <a href="{% url 'offer' %}" class="inline-flex items-center font-medium text-main hover:text-main-dark">
            Gesamtes Angebot <span aria-hidden="true">&rarr;</span>
        </a>
    </p>
     
    </div>
  </div>
  <section class="bg-gray-900  mb-32">
    <div class="py-8 px-4 mx-auto max-w-screen-lg text-center sm:py-16 lg:px-6">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-300">Wie beraten wir?</h2>
        <p class="text-gray-500 sm:text-xl ">Sie können bei uns verschiedene Broschüren beziehen unter anderem auch Patientenverfügungen.</p>
        <div class="mt-8 lg:mt-12 space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
            <div>
                <svg class="mx-auto mb-4 w-12 h-12 text-main" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.427 14.768 17.2 13.542a1.733 1.733 0 0 0-2.45 0l-.613.613a1.732 1.732 0 0 1-2.45 0l-1.838-1.84a1.735 1.735 0 0 1 0-2.452l.612-.613a1.735 1.735 0 0 0 0-2.452L9.237 5.572a1.6 1.6 0 0 0-2.45 0c-3.223 3.2-1.702 6.896 1.519 10.117 3.22 3.221 6.914 4.745 10.12 1.535a1.601 1.601 0 0 0 0-2.456Z"/>
                </svg>              
                <h3 class="mb-2 text-xl text-gray-300 font-bold">Telefonisch</h3>
                <p class="mb-4 text-gray-400">Viele Anfragen können telefonisch beantwortet werden, diese Auskünfte sind kostenlos</p>
                <a href="{% url 'contact' %}" class="inline-flex items-center text-sm font-medium text-gray-300 hover:text-primary-700">
                Kontakt <svg class="ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
            <div>
                <svg class="mx-auto mb-4 w-12 h-12 text-main" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.99 9H15M8.99 9H9m12 3a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM7 13c0 1 .507 2.397 1.494 3.216a5.5 5.5 0 0 0 7.022 0C16.503 15.397 17 14 17 13c0 0-1.99 1-4.995 1S7 13 7 13Z"/>
                </svg>                  
                <h3 class="mb-2 text-xl font-bold text-gray-300">Persönlich</h3>
                <p class="mb-4 text-gray-400">Nach telefonischer Vereinbarung reservieren wir Ihnen gerne einen Termin für eine persönliche Besprechung</p>
                <a href="{% url 'contact' %}" class="inline-flex items-center text-sm font-medium text-gray-300 hover:text-primary-700">
                Kontakt <svg class="ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
            <div>
                <svg class="mb-4 w-12 h-12  mx-auto text-main" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m8 7.5 2.5 2.5M19 4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Zm-5 9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
                </svg>
                <h3 class="mb-2 text-xl font-bold text-gray-300">Fallbearbeitung</h3>
                <p class="mb-4 text-gray-400">Falls sich aus der Erstberatung ergibt, dass weitere Abklärungen erforderlich sind, bieten wir Ihnen die notwendige Hilfe und Unterstützung.</p>
                <a href="{% url 'contact' %}" class="inline-flex items-center text-sm font-medium text-gray-300 hover:text-primary-700">
                    Kontakt <svg class="ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>
    </div>
</section>
  

{% endblock %}